j2ee/src/main/java/com/epam/efimova/xml/data/shop.dtd


<!ELEMENT shop (categry+)>
<!ELEMENT categry (subcategry+)>
<!ELEMENT subcategry (good+)>
<!ELEMENT good (name,provider,model,dateofissue,color,price)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT model (#PCDATA)>
<!ELEMENT provider (#PCDATA)>
<!ELEMENT dateofissue (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT price (#PCDATA)>


<!ATTLIST categry id ID #REQUIRED>
<!ATTLIST categry caption CDATA #REQUIRED>
<!ATTLIST subcategry id ID #REQUIRED>
<!ATTLIST subcategry caption CDATA #REQUIRED>

